[[source]]
name = "pypi"
url = "https://pypi.python.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
pytest-cov = "*"
mypy = "==0.950"
pre-commit = "*"
black = "*"
typemock = "*"
freezegun = "*"
factory-boy = "*"
pytest-factoryboy = "*"
pytest-asyncio = "*"
respx = "==0.17.1"
types-python-dateutil = "*"
types-requests = "*"
types-freezegun = "*"
pytest-testmon = "*"
pytest-watch = "*"
pytest-env = "*"
pytest-timeout = "*"

[packages]
alembic = "*"
atomicwrites = "*"
attrs = "*"
blindspin = "*"
bson = "*"
certifi = "*"
chardet = "*"
click = "*"
colorama = "*"
crayons = "*"
ddtrace = "*"
dnspython = "*"
docker = "*"
ecdsa = "*"
email-validator = "*"
fastapi = "*"
future = "*"
gunicorn = "*"
h11 = "*"
httptools = "*"
idna = "*"
more-itertools = "*"
pluggy = "*"
py = "*"
pyasn1 = "*"
pycountry = "*"
pydantic = "==1.8.2"
pyparsing = "*"
python-dateutil = "*"
python-editor = "*"
python-jose = "*"
python-json-logger = "*"
requests = "*"
responses = "*"
rsa = "*"
six = "*"
starlette = "*"
testcontainers = "*"
uvloop = "*"
wcwidth = "*"
websockets = "*"
wrapt = "*"
Mako = "*"
MarkupSafe = "*"
SQLAlchemy = "*"
websocket_client = "*"
python-multipart = "*"
typemock = "*"
requests-toolbelt = "*"
sentry-sdk = "*"
pytest-repeat = "*"
requests-oauthlib = "*"
httpx = "==0.19.0"
pykube-ng = "*"
typer = "*"
pygtrie = "*"
uvicorn = "*"
boto3 = "*"
botocore = "*"
braintree = "*"
urllib3 = "==1.25.11"
paypayopa = "*"
cachetools = "*"
babel = "*"
typing-extensions = "*"

[requires]
python_version = "3.10"
